$color-shade-01: #ffffff;
$color-shade-02: #222222;
$color-shade-03: rgba(34, 34, 34, 0.05);
$color-shade-04: rgba(34, 34, 34, 0.3);

$color-neutral-01: #f7f7f7;
$color-neutral-02: #ebebeb;
$color-neutral-03: #dddddd;
$color-neutral-04: #d3d3d3;
$color-neutral-05: #c2c2c2;
$color-neutral-06: #b0b0b0;
$color-neutral-07: #717171;
$color-neutral-08: #5e5e5e;

$color-primary-01: #F6475F;
$color-primary-02: #FF385C;

$color-gradient-01: #EB4C60;
$color-gradient-02: radial-gradient(1413.54% 103.95% at -3.95% 100%, #D33753 0%, #D13660 52.83%, #C72D65 100%);
$color-gradient-03: radial-gradient(12158.65% 140.68% at 99.42% 0%, #C72D65 0%, #D23760 48.44%, #D23755 100%);

$color-error-01: #FEF8F6;
$color-error-02: #C13515;

$color-accent-01: #F6D7DF;
$color-accent-02: #D03660;

$color-discount: #008A05;
$color-link: #004CC4;