$color-shade-01: #ffffff;
$color-shade-02: #222222;
$color-shade-03: rgba(34, 34, 34, 0.05);
$color-shade-04: rgba(34, 34, 34, 0.3);

$color-neutral-01: #f7f7f7;
$color-neutral-02: #ebebeb;
$color-neutral-03: #dddddd;
$color-neutral-04: #d3d3d3;
$color-neutral-05: #c2c2c2;
$color-neutral-06: #b0b0b0;
$color-neutral-07: #717171;
$color-neutral-08: #5e5e5e;

$color-primary-01: #f6475f;
$color-primary-02: #ff385c;
$color-primary-03: #eb4c60;

$color-gradient-02: linear-gradient(
  135deg,
  rgba(211, 55, 83, 1) 0%,
  rgba(206, 51, 91, 1) 58%,
  rgba(199, 45, 101, 1) 100%
);
$color-gradient-03: linear-gradient(
  135deg,
  rgb(198, 52, 79) 0%,
  rgb(183, 43, 94) 100%
);

$color-error-01: #fef8f6;
$color-error-02: #c13515;

$color-accent-01: #f6d7df;
$color-accent-02: #d03660;
$color-accent-03: #f2f6d7;

$color-discount: #008a05;
$color-link: #004cc4;
