$font-primary: "Onest", sans-serif;

$font-heading-01: 400 22px $font-primary;
$font-heading-01-semibold: 600 22px $font-primary;

$font-body-01: 400 18px/24px $font-primary;
$font-body-01-medium: 500 18px/24px $font-primary;
$font-body-01-semibold: 600 18px/24px $font-primary;

$font-body-02: 400 16px $font-primary;
$font-body-02-medium: 500 16px $font-primary;
$font-body-02-semibold: 600 16px $font-primary;

$font-body-03: 400 14px $font-primary;
$font-body-03-semibold: 600 14px $font-primary;

$font-body-04: 400 13px $font-primary;
$font-body-04-semibold: 600 13px $font-primary;

$font-body-05: 400 12px $font-primary;
$font-body-05-medium: 500 12px $font-primary;
$font-body-05-semibold: 600 12px $font-primary;

$font-micro-01: 600 10px $font-primary;
